<!--The whole content below can be removed with the new code.-->
<md-toolbar color="primary">
    <a href="http://www.raleighnc.gov/">
        <span>
            <md-icon svgIcon="city_seal"></md-icon>
            </span>
    </a>

    <span>Toolbar Row</span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>

<md-menu #menu="mdMenu">
    <button md-menu-item (click)="openDialog('about')">
        <md-icon>info_outline</md-icon>
        <span>About</span>
        </button>
    <button md-menu-item (click)="openDialog('help')">
            <md-icon>help</md-icon>
      <span>Need Help?</span>
        </button>
</md-menu>
<md-card>
    <md-card-content>
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
            <h3>Enter your address</h3>
            <!-- <md-input-container hintLabel="ex. 123 Main St.">
                <input mdInput type="text" (change)="zoomToAddress()" formControlName="address" [mdAutocomplete]="auto" placeholder="Street Address">
            </md-input-container> -->
            <md-input-container class="wider" hintLabel="ex. 123 Main St.">
                <input mdInput type="text" [formControl]="term" [mdAutocomplete]="auto" placeholder="Street Address">
            </md-input-container>
            <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let item of items | async" [value]="item.address">
                    {{ item.address }}
                </md-option>
            </md-autocomplete>
        </form>
    </md-card-content>
    <md-card-actions style="margin:0 auto;">
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
            <button md-raised-button color="primary" type="submit" class="btn btn-success" [disabled]="!myForm.valid || submitted">Submit</button>
        </form>
    </md-card-actions>
</md-card>

<br/>

<md-card>
    <app-esri-map></app-esri-map>
</md-card>